* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: 'Poppins', sans-serif;
}


.btn-create{
  color: white;
  background-color: #003049;
}

.btn-create:hover{
  color: white;
}
